<!-- <mat-tab-group animationDuration="100ms"> -->
<div class="page-container">
    <mat-tab-group animationDuration="0" style="margin-bottom:50px;">
        <mat-tab label="Ogólne informacje">
            <div class="mat-tab-container">
                <div class="row no-margins justify-content-center">
                    <span class="font-75  bold">{{plan.name}}</span>
                </div>
                <!-- <div class="row no-margins pb-2  justify-content-center">
                        <span class="font-21 ">{{plan.latitude | number:'.1-3'}} | {{plan.longitude | number:'.1-3'}} </span>
                </div> -->
                <div class="row no-margins pb-5 pt-2 justify-content-center">
                    <span class="font-28 ">Termin:</span>
                    <span class="font-28 bold ml-3">{{plan.planForm.startDate | date:'shortDate'}} {{formatTimeString(plan.planForm.startTime)}}</span>
                    <span class="font-28 bold ml-3 mr-3"> - </span>
                    <span class="font-28 bold">{{plan.planForm.endDate | date:'shortDate'}} {{formatTimeString(plan.planForm.endTime)}}</span>
                </div>

                <div *ngIf="plan.photo" class="row no-margins pb-2  justify-content-center">
                    <img class="place-photo-size" [src]="'data:image/png;base64,'+plan.photo | safeHtml"  alt="Image">
                </div>
                <!-- <div *ngIf="plan.address" class="row no-margins pb-2 justify-content-center" style="padding-top: 30px;">
                    <span class="font-26 ">Adres:</span> 
                    <span  class="font-26 bold ml-2">{{plan.address}}</span>
                </div>   -->
                <div class="row no-margins pb-3 pt-5  justify-content-center">
                        <span class="font-26 mr-2">Zakwaterowanie:</span> 
                        <span *ngIf="plan.planAccomodation" class="font-26 bold">{{plan.planAccomodation.placeName}}, </span>
                        <span *ngIf="plan.planAccomodation" class="font-26 ml-3">{{plan.planAccomodation.formattedAddress}}</span>
                        <span *ngIf="!plan.planAccomodation" class="font-26 bold ml-2"><i class="far fa-minus-square"></i></span>
                </div>        
                    
                <div *ngIf="plan.planFormWeightVector" class="row no-margins pb-3 justify-content-center" style="padding-top:50px;">
                        <div style="margin-bottom: 15px;">
                            <span class="font-26 bold">Wektor wagowy planu:</span> 
                        </div>
                        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                        [legend]="barChartLegend" [chartType]="barChartType"></canvas>
                </div>
            </div>

        </mat-tab>
        <mat-tab label="Szczegóły planu">
                <div class="row no-margins justify-content-center" style="padding-bottom: 20px">
                        <span class="font-32">Plan na dzień:</span>  <span class="font-32 bold ml-1">{{selectedDay | date:'shortDate'}}</span> 
                </div>
                <div class="row no-margins justify-content-center" style="padding-bottom: 80px;">
                    <agm-map [latitude]="planLat" [longitude]="planLng">
                        <ng-container *ngFor="let marker of markers">
                                <agm-marker [latitude]="marker.Lat" [longitude]="marker.Lng" [label]="{color: 'white', text: marker.Label}"></agm-marker>
                        </ng-container>
            
                    </agm-map>                   
                </div>
            <!-- Plan elements -->
            <ng-container *ngFor="let day of daysOfTrip; let i=index">
                <div class="row no-margins justify-content-center">
                    <div class="day-card" style="margin-bottom: 20px;">
                        <div class="row no-margins justify-content-space-between pb-4">
                                <span class="font-30 bold">Dzień {{i+1}}</span> 
                                <span>
                                    <span class="font-30 ">{{day | date:'shortDate'}}</span> 
                                    <a class="ml-2" (click)="filterMapByDat(day)"><i class="fas fa-map-marker-alt yellow-theme fa-2x"></i></a>
                                </span>
                        </div>
                        <ng-container *ngFor="let element of plan.elements;let elementIter=index;">
                                <plan-element *ngIf="isSameDay(day, element.start)" [element]="element" [route]="getEndingRoute(elementIter)"></plan-element>
                        </ng-container>
                    </div>                    
                </div>
            </ng-container>       
        </mat-tab>
    </mat-tab-group>   
</div>


<style>

agm-map {
    width: 100%;
    max-width: 1400px;
    height: 500px;
    text-shadow: 0px 0px 6.2px grey;
}

.font-32{
    font-size: 32px;
}

 .day-card {
    background-color: white;
    border: 1px solid #eaecee;
    padding: 20px;
    border-radius: 30px;
    max-width: 1100px;
    width: 100%;
  }
  
  .justify-content-space-between {
      justify-content: space-between;
  }

</style>