<div class="page-container">
    <div class="card login-card  " id="LoginArea" [@routerTransition]>
        <div #cardBody class="body">
            <form #registerForm="ngForm" method="post" novalidate (ngSubmit)="save()" autocomplete="off">
                <h4 class="text-center p-b-20">{{'Rejestracja'|translate}}</h4>
                <input type="text" autofocus="autofocus" style="display:none" />
                <div class="width-100">
                    <mat-form-field>
                        <mat-label>{{'Name'|translate}}</mat-label>
                        <input matInput name="Name" type="text" required maxlength="32" autocomplete="off"
                            [(ngModel)]="model.name">
                    </mat-form-field>
                </div>

                <div class="width-100">
                    <mat-form-field>
                        <mat-label>{{'Surname'|translate}}</mat-label>
                        <input matInput name="Surname" type="text" required maxlength="32" autocomplete="off"
                            [(ngModel)]="model.surname">
                    </mat-form-field>
                </div>

                <div class="width-100">
                    <mat-form-field>
                        <mat-label>{{'EmailAddress'|translate}}</mat-label>
                        <input matInput name="EmailAddress" type="email" required maxlength="255" autocomplete="off"
                            [(ngModel)]="model.emailAddress" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$">
                    </mat-form-field>
                </div>

                <div class="width-100">
                    <mat-form-field>
                        <mat-label>{{'UserName'|translate}}</mat-label>
                        <input matInput name="UserName" type="text" required maxlength="32" autocomplete="off"
                            [(ngModel)]="model.userName">
                    </mat-form-field>
                </div>

                <div class="width-100">
                    <mat-form-field>
                        <mat-label>{{'Password'|translate}}</mat-label>
                        <input matInput name="Password" type="password" required maxlength="32" autocomplete="new-password"
                            [(ngModel)]="model.password">
                    </mat-form-field>
                </div>

                <div class="row no-margins p-b-20 p-t-30">
                    <button id="RegisterButton" class="yellow-button width-100" [disabled]="!registerForm.form.valid"
                        type="submit">{{'Zarejestruj'|translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>