

.clickable-item {
    cursor: pointer;
}

.spinner-container{
    text-align: center;
    text-align: -webkit-center;
    justify-content: center;
    width: 100%;
    display: flex;
    padding-top: 15%;
    padding-bottom: 10%;
}


.brown-color {
   color: #795548
}



.mat-stepper-horizontal {
    background-color: #f8f9fa;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;

  }
  
  .stepper-buttons-row {
    margin-top: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .stepper-buttons-row-end {
    margin-top: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;
    margin-right: 20px;
  }

  .mat-horizontal-content-container {
    margin-top: 30px;
  }

  .mat-horizontal-stepper-content {
    justify-content: center;
    display: flex;
  }
  
 .step-card {
    background-color: white;
    border: 1px solid #eaecee;
    padding: 30px;
    padding-top: 50px;
    border-radius: 50px;
    max-width: 1000px;
    width: 100%;
  }
  
  .mat-step-label {
    font-size: 16px;
  }

  .mat-step-label-selected{
    font-size: 20px;
    font-weight: 600; 
    color:#403C39 !important;
  }

  td.form-group {
    border: 1px solid #eaecee;
}


.mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate {
  background: #795548;
}

.mat-slide-toggle-bar, .mat-slide-toggle-thumb {
  border: 1px solid #eaecee;
}

.mat-slider {
  width: 90%;
}

.mat-accent .mat-slider-track-fill, .mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label {
  background-color: #795548;
}

.mat-accent .mat-slider-thumb-label-text {
  color: white;
}

.custom-select-panel {
  background-color:#fafafa;
  border: 1px solid #ebebeb;
}

.custom-select-panel .mat-option {
 // border: 1px solid #ebebeb;
}

.mat-datepicker-content {
  background-color:#fafafa;
  border: 1px solid #ebebeb;
  color: rgba(0, 0, 0, 0.87);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.pick-box:last-child {
  border: none;
}

.pick-list.cdk-drop-list-dragging .pick-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
// .text-bold {
//     font-weight: bold;
// }


// .portlet.light > .portlet-title .inputs.inputs-full-width {
//     display: block;
//     float: none;
// }

// .famfamfam-flags {
//     display: inline-block;
// }

// topbar-languageswitch {
//     float: left;
//     margin-top: 25px;
//     margin-left: 10px;

//     a {
//         text-decoration: none;
//         color: #fff;

//         &:hover {
//             text-decoration: none;
//             color: #fff;
//         }
//     }
// }

// .swal-footer {
//      text-align: center;
// }



// .card [class^="col-"], .card [class*=" col-"] {
//     margin-bottom: 0 !important;
// }

// .card .header .header-dropdown i {
//     color: inherit;
//     font-size: 16px;
// }

// .login-box {
//     background-color: #673AB7;
//     padding: 20px 0;
// }


a:hover {
    text-decoration: none;
}

.mat-tab-label, .mat-tab-link {
  font-size: 20px;
}

.mat-tab-header {
  margin-bottom: 30px;
}

.mat-tab-label-active {
  font-weight: 600;
  color:#403C39;

}

.mat-tab-header {
  border: none;
}


.font-50 {
  font-size: 50px;
} 

.font-24 {
  font-size: 24px;
} 
.font-26 {
  font-size: 26px;
} 

.font-28 {
  font-size: 28px;
}

.font-30 {
  font-size: 30px;
}

.font-21 {
  font-size: 21px;
} 

.font-75 {
  font-size: 75px;
}

.font-18 {
  font-size: 18px;
}

.font-14 {
  font-size: 14px;
}

.gray-color {
  color:#ebebeb3d;
}

.mat-tab-container{
  margin-left: 30px;
  margin-right: 30px;
}

.mat-expansion-panel-header .mat-content {
  padding-top: 15px;
  padding-bottom: 5px;
}