<div class="page-container">

    <div class="card login-card  " id="LoginArea" [@routerTransition]>
        <div #cardBody class="body ">
            <form #loginForm="ngForm" id="LoginForm" method="post" novalidate (ngSubmit)="login()" autocomplete="off">
                <h4 class="text-center p-b-20">{{'Login'|translate}}</h4>

                <div class="width-100">
                    <mat-form-field>
                        <mat-label>{{'Username'|translate}}</mat-label>
                        <input matInput name="username" type="text" required  autocomplete="off" [(ngModel)]="loginService.authenticateModel.userNameOrEmailAddress">                 
                    </mat-form-field>   
                </div>

                <div class="width-100">
                     <mat-form-field>
                        <mat-label>{{'Password'|translate}}</mat-label>
                        <input matInput name="password" type="password" required  autocomplete="off" [(ngModel)]="loginService.authenticateModel.password">                 
                    </mat-form-field>  
                </div>
                <div class="row no-margins p-b-20 p-t-10">
                    <!-- <mat-checkbox name="rememberMe" id="rememberme"[(ngModel)]="loginService.rememberMe">{{'RememberMe'|translate}}</mat-checkbox> -->

                    <div>
                        <input type="checkbox" [(ngModel)]="loginService.rememberMe" name="rememberMe" id="rememberme"
                            class="filled-in app-theme" value="true">
                        <label for="rememberme">{{'RememberMe'|translate}}</label>
                    </div>
                </div>
                <div class="row no-margins p-b-20">
                        <button id="LoginButton" class="yellow-button width-100" type="submit">{{'Login2'|translate}}</button>
                </div>
                <div class="row m-t-15 m-b-15">
                    <div class="col-xs-12">
                        <span class="">{{'DontYouHaveAnAccount'|translate}}</span>
                        <a class="ml-10" [routerLink]="['../register']">{{'Register2'|translate}}</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

