<div id="wrapper">
    <!-- <div id="header">
        <top-bar></top-bar> 
    </div> -->
    <div class="router-container" id="content">
        <div class="row no-margins">
            <top-bar class="w-100"></top-bar>             
        </div>
        <div>
            <router-outlet></router-outlet>                
        </div>

    </div>
    <div id="footer">
        <app-footer></app-footer>
    </div>
  </div>




<!-- <section> -->
     <!-- <aside id="leftsidebar" class="sidebar">
        <sidebar-user-area></sidebar-user-area>
        <sidebar-nav></sidebar-nav>
        <sidebar-footer></sidebar-footer>
    </aside>  -->
<!-- 
    <right-sidebar></right-sidebar>
</section>  -->

<!-- <section class="content"> -->
<!-- <div class="container-fluid" style="margin-top:300px"> -->

 <!-- </div> -->
<!-- </section> -->

