<div class="page-container" [@routerTransition]>
    <div class="row clearfix" >
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="block-header row">
                <div class="col-md-6">
                    <span class="font-24 bold">{{'MyPlans' | translate}}</span>                                  
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12" *ngFor="let userPlan of userPlans">
                    <div class="plan-card">
                        <div class="row no-margins">
                             <a (click)="delete(userPlan)"><i class="fas fa-times cross-button"></i></a>
                        </div>
                        <div class="row no-margins pb-15 text-center pb-3">
                            <div class="pb-3">
                                <span class="font-24 bold">{{userPlan.destination}}</span>                                
                            </div>
                            <div class="pb-2">
                                <span class="font-15 mr-1">{{'From' | translate}}:</span>   <span class="font-15 bold">{{userPlan.startDate | date:'shortDate'}}, {{formatTimeString(userPlan.startTime)}}</span>                    
                            </div>
                            <div >
                                <span class="font-15  mr-1">{{'To' | translate}}:</span>   <span class="font-15 bold">{{userPlan.endDate | date:'shortDate'}}, {{formatTimeString(userPlan.endTime)}}</span>                    
                            </div>
                        </div>
                        <div class="row no-margins pt-2 pb-3 justify-content-center">
                            <img class="place-photo-size"  *ngIf="!userPlan.photo" src="https://placehold.it/150x80?text=Brak zdjęcia"  alt="Image">
                            <img class="place-photo-size"  *ngIf="userPlan.photo" [src]="'data:image/png;base64,'+userPlan.photo | safeHtml"  alt="Image">
                        </div>                      
                        <div class="row no-margins pb-30">
                                <span class="font-15 mr-1">{{'CreationDate' | translate}}:</span>                               
                                <span class="font-15 bold ">{{userPlan.creationTime | date:'short'}}</span>
                                
                        </div>
                        <div class="row no-margins justify-content-end">                          
                                <button class="yellow-button" [routerLink]="['/user-plans', userPlan.id]">{{'Show'|translate}} <i class="fa fa-arrow-circle-right"></i></button>                          
                        </div>

                    </div>
                </div>
            </div>
        </div>
      </div>
</div>
