<nav class="navbar" id="topNavbar">
    <div class="navbar-header mr-1">
        <a routerLink="/home">
            <i class="fa fa-map-signs yellow-theme"></i> <span class="yellow-theme logo-font ">TripMaker</span></a>
    </div>
    <!-- <ul class="navbar-nav  mr-auto">
        <li class="nav-item center" *ngIf="checkIfUserLogged()" [routerLinkActive]="['link-active']">
            <a [routerLink]="['/dashboard']">
                <span class='glyphicon glyphicon-education'></span> Dashboard
            </a>
        </li>
        <li class="nav-item center" *ngIf="checkIfUserLogged()" [routerLinkActive]="['link-active']">
            <a [routerLink]="['/events']">
                <span class='glyphicon glyphicon-th-list'></span> Events
            </a>
        </li>
    </ul> -->
    <ul class="navbar-nav ml-auto">
        <li class="nav-item center" *ngIf="!checkIfUserLogged()" [routerLinkActive]="['link-active']">
            <a [routerLink]="['/login']">
                <span class="glyphicon glyphicon-log-in"></span> {{'Login'|translate}}
            </a>
        </li>
        <li *ngIf="checkIfUserLogged()" class="dropdown nav-item">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
                style="color:black;">
                <i class="fas fa-user"></i> {{getUserName()}}
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu arrow_box">
                <li class="dropdown-item" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/user-plans']">
                        {{'MyPlans'|translate}}
                    </a>
                </li>
                <li class="dropdown-item" >
                    <a (click)="logout()">
                        <span class="glyphicon glyphicon-log-out"></span> {{'Logout'|translate}}
                    </a>
                </li>
            </ul>
        </li>
        <!-- <li class="nav-item center" >
            <div>
                <a class="navbar-item-color " (click)="setPolish($event)"><span
                        [ngClass]="{'active-language': isPolish }">PL</span></a>
                <span class="navbar-item-color ml-1 mr-1">/</span>
                <a class="navbar-item-color " (click)="setEnglish($event)"><span
                        [ngClass]="{'active-language': isEnglish }">EN</span></a>
            </div>

        </li> -->
    </ul>

    <a href="javascript:void(0);" class="hamburger-icon white-color" (click)="toggleMenu()">
        <div class="buger-menu-container" id="hamburgerMenu">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
    </a>

</nav> 



