/* #myCarousel {
  padding-left: 20px;
  padding-right: 20px;
  background-color: coral;
} */

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
    max-height: 350px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none; 
  }
}

.bg-1 { 
  background-color: #474e5d; /* Dark Blue */
  color: #ffffff;
  text-align: center;
}


.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.carousel-button {
  align-content: center;
 margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 30px;
}