<div>
  <div class="top-home-section brown-background">
      <div class="text-center" style="padding-top:40px;">
        <div class="row no-margins row-padding-20">
           <span class="top-home-header1">{{'AreYouReady'|translate}}</span>
        </div>
        <div class="row no-margins row-padding-20">
            <span class="top-home-header2">{{'ToStartYourJourney'|translate}} ?</span>
         </div>   
         <div class="row no-margins row-padding-20">
            <div class="col-md-12 form-group text-center">
                <button class="tm-button" (click)="navigateToPlan()">{{'GetPlan'|translate}}</button>
            </div>
        </div>    
      </div>
  </div>
  <div class="section-padding white-bg">
    <trending-destination></trending-destination>
  </div>
  <div class="bg-light section-padding">
    <how-it-works></how-it-works>
  </div>
  <div class="section-padding white-bg">
    <contact></contact>
  </div>
</div>

<!-- <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#home">Mike</a></li>
      <li><a data-toggle="tab" href="#menu1">Chandler</a></li>
      <li><a data-toggle="tab" href="#menu2">Peter</a></li>
    </ul>
  
    <div class="tab-content">
      <div id="home" class="tab-pane fade in active">
        <h2>Mike Ross, Manager</h2>
        <p>Man, we've been on the road for some time now. Looking forward to lorem ipsum.</p>
      </div>
      <div id="menu1" class="tab-pane fade">
        <h2>Chandler Bing, Guitarist</h2>
        <p>Always a pleasure people! Hope you enjoyed it as much as I did. Could I BE.. any more pleased?</p>
      </div>
      <div id="menu2" class="tab-pane fade">
        <h2>Peter Griffin, Bass player</h2>
        <p>I mean, sometimes I enjoy the show, but other times I enjoy other things.</p>
      </div>
    </div> -->