<div class="text-center section-side-padding white-bg">
    <div class="row no-margins section-header-padding">
        <span class="section-header ">{{'ContactUs'|translate}}</span>
    </div>


    <div class="row no-margins">
        <div class="col-md-6">
            <div class="row no-margins row-padding-10">
                <mat-form-field class="form-question">
                    <mat-label>{{'Name'|translate}}</mat-label>
                    <input matInput type="text" [(ngModel)]="model.Name">
                </mat-form-field>
            </div>
            <div class="row no-margins row-padding-10">
                <mat-form-field class="form-question">
                    <mat-label>{{'Email'|translate}}</mat-label>
                    <input matInput type="text" [(ngModel)]="model.Email">                
                </mat-form-field>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row no-margins">
                 <!-- <mat-form-field class="form-question">
                    <mat-label>{{'Message'|translate}}</mat-label>
                    <textarea matInput type="text" [(ngModel)]="model.Message"></textarea>
                </mat-form-field> -->
                <textarea class="contact-textarea" [(ngModel)]="model.Message" placeholder="{{'Message'|translate}}" rows="5"></textarea>
            </div>
        </div>
    </div>
    <div class="row no-margins row-padding-20">
        <div class="col-md-12 text-center">
            <button class="tm-button" (click)="sendContactUs()">{{'SendMessage'|translate}}</button>
        </div>
    </div>

</div>