<div class="text-center section-side-padding">
    <div class="row no-margins section-header-padding justify-content-center">
        <span class="section-header ">{{'HowItWorks'|translate}}?</span>
    </div>

    <div class="row">
        <div class="col-sm-4 justify-content-center">
            <div class="row no-margins justify-content-center">
                <span class="icon-circle"><i class="far fa-file-alt fa-4x" aria-hidden="true"></i></span>
            </div>
            <div class="row no-margins row-padding-20 justify-content-center">
                <span class="how-it-works-title">{{'Formularz'|translate}}</span>
            </div>
            <div class="row no-margins row-padding justify-content-center">
                <span class="how-it-works-description">Wypełniasz formularz, gdzie zbieramy informacje o podróży i Twoich preferencjach.</span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row no-margins justify-content-center">
                <span class="icon-circle"><i class="fa fa-cog fa-4x" aria-hidden="true"></i></span>
            </div>
            <div class="row no-margins row-padding-20 justify-content-center">
                <span class="how-it-works-title">{{'Generowanie'|translate}}</span>
            </div>
            <div class="row no-margins row-padding justify-content-center">
                <span class="how-it-works-description">Przy pomocy informacji uzyskanych z Google API specjalny algorytm tworzy plan dostosowany do Ciebie.</span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row no-margins justify-content-center">
                <span class="icon-circle"><i class="fa fa-globe fa-4x" aria-hidden="true"></i></span>
            </div>
            <div class="row no-margins row-padding-20 justify-content-center">
                <span class="how-it-works-title">{{'Plan'|translate}}</span>
            </div>
            <div class="row no-margins row-padding justify-content-center">
                <span class="how-it-works-description">Już nie musisz martwić się o planowanie podróży. Cały plan wycieczki został wygenerowany!</span>
            </div>
        </div>
    </div>
</div>