
body {
    margin: 0;
    font-family: Roboto, sans-serif;
  }
  
  mat-card {
    max-width: 80%;
    margin: 2em auto;
    text-align: center;
    min-height: 200px;
  }
  
  mat-toolbar-row {
    justify-content: space-between;
  }
  
  .done {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
  }

  .content-down {
    position: absolute;
    bottom: 0;
    width:95%;
    align-content: center;
    overflow: auto;
    min-height: 50px;
    white-space: nowrap;
  }

  .content-left {
    float: left;  

  }

  .content-right {
      float: right;
}


/* Autocomplete input */
.input-container {
    text-align: center; 
    width: 100%;
}

.google-place-input {
    width: 50%;
    min-width: 280px;
    height: 2rem; 
    font-size: 1.5rem; 
    padding: 0.5rem;
}

/* Separate line */
.separate-line{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  width:70%;
  margin: 0 auto;
  align-content: center;
}

.form-question {
  display: inline-block;
  min-width: 48.8%;
  text-align: left;
}

.question-container {
  display: block;
  padding-top:40px;
  padding-bottom: 40px;
}

