
  mat-card {
    max-width: 80%;
    margin: 2em auto;
    /* text-align: center; */
    min-height: 200px;
  }
  
  mat-toolbar-row {
    justify-content: space-between;
  }
  
  .done {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
  }

  .content-down {
    position: absolute;
    bottom: 0;
    width:95%;
    align-content: center;
    overflow: auto;
    min-height: 50px;
    white-space: nowrap;
  }

  .content-left {
    float: left;  

  }

  .content-right {
      float: right;
}


/* Autocomplete input */
.input-container {
    text-align: center; 
    width: 100%;
}

.google-place-input {
    width: 50%;
    min-width: 280px;
    height: 2rem; 
    font-size: 1.5rem; 
    padding: 0.5rem;
}

/* Separate line */
.separate-line{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  width:70%;
  margin: 0 auto;
  align-content: center;
}

.form-question {
  display: inline-block;
  /* min-width: 48.8%;
  text-align: left; */
}

.form-input {
  display: inline-block;
  width: 50%;
}

.question-container {
  display: block;
  padding-top:40px;
  padding-bottom: 40px;
  clear: both;
  overflow: auto;
}

.next-button {
  border-radius: 30px;
  background-color: #fed136;
  color: #fff;
  width: 100px;
  height: 40px;
  font-size: 18px;
  border: none;
}

.prev-button {
  border-radius: 30px;
  background-color: #fed136;
  color: #fff;
  width: 100px;
  height: 40px;
  font-size: 18px;
  border: none;
}

.circles-container{
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
}

.circles-container span {
     margin-left: 10px;
     margin-right: 10px;
     font-size: 20px;
}

.circle {
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid #fed136;
}

.filled-circle {
  background-color: #fed136;
}

.question-flex-container {
  display: -ms-flex; 
  display: -webkit-flex; 
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
}

.question-flex-container div {
  flex:1;
  display:flex;
  align-items: center;
}